.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid grey;
    visibility: hidden;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid grey;
}

.video-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.video-container:hover > .arrow-right {
    visibility: visible;
}


.tags {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
    justify-content: space-evenly;
}

.tag {
    background-color: #c0c0c0;
    padding: 3px;
    border-radius: 5px;
}

.active {
    background-color: #7562c0;
}
