body {
    margin: 0;
    padding: 0;
}

.card-stripe {
    display: flex;
    align-Items: center;
    position: relative;
}

.card-stripe:nth-child(even) {
    background-color: #fafafa;
}

.card-container {
    display: flex;
    align-Items: center;
}

.drag-hint {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    background-color: #b3c4eb;
}

.drag-handle {
    width: 10px;
    cursor: move;
    height: 10px;
    background-color: black;
    margin-right: 10px;
}
